# Working With Files and Doing Data Cleaning

## First, a Review on Planning Your Programs

One of the most difficult things about learning to program is to learn how to start.  What to do before you write the code, and how to work your way through the coding process.

A good general idea is to think through the problem you want to solve first -- just conceptually.  How will you know you have solved it?  Are there tests that you can use to be sure?  Can you break the problem down into smaller components, and solve those sequentially?  This is a step that is conceptualizing your algorithm, or your plan for the code.

What approach would you use to solve each of those components? Can you describe those steps in English? We call this step writing 'pseudo-code'

Finally, there is the coding step. And the inevitable debugging step.  You really can't do one without the other.

Generally, it is good practice to work your way through problems in this way, and write the code for each building block, testing it to be sure it works for all the kinds of cases you can imagine, then test them together.  You'll end up being more productive, and far less frustrated, using a systematic, problem-solving approach.  

And by all means, don't try to tackle it all at once.  Below is an example of how to work through this process.

### Phase 1: Conceptual Plan

What do we need to do to determine whether each number between 1 and 100 is a prime number?

1. We need to see if any given number can be divided evenly by any other number besides 1 and itself. 
2. We need to test this for every number between 1 and 100

### Phase 2: Pseudo-Code

1. Write a function (isprime) to test whether a number passed to it as an argument (x) is a prime number.
Iterate over all values from x to 1.
At each iteration, test whether the original x is evenly divisible by this iteration value.
Keep track of how many times you get an evenly divisible result.
If the result is more than 2, call x a prime number.

2. Write a loop from 1 to 100, call this value (z)
Within the loop, call function isprime, and pass it the value of z.
Print the list of prime numbers.

### Phase 3: Code Incrementally, Test, and Document

Generally, build the code one step at a time, and test that step.  Add comments to explain your logic.  Make sure you include narrative in your assignments explaining your reasoning, and adding explanatory comments in the code every few lines to explain what you are doing in each part.

## Working With Files

Most data you might want to work with is likely to be in some kind of file.  You often will want to work with data in comma separated text files, or in spreadsheet tables, or in tables stored in a database.  And you will increasingly find data online, not only as text or spreadsheets to download, but as Open Data APIs, returned from a web service as a JSON object.  This session covers how to work with a variety of file formats in Python, and how to begin processing data in files to clean data.

### Basics of Reading and Writing Files in Python

Let's start by creating a simple file, and then reading it back.  We will use 'open' to open a file we will call 'tempfile' in 'write' (w) mode.  We will assign the file object, which is **iterable**, to an object we will arbitrarily call 'f'.

In [1]:
f = open('tempfile.txt', 'w')
for i in range(10):
    f.write('this is line ' + str(i) + '\n')
f.close()

You can open the text file in an editor to verify that this code wrote the file as expected.  Now open the file we just created in Python, in read mode (r)

In [2]:
f = open('tempfile.txt', 'r')

In [4]:
f = open('tempfile2.txt', 'w')
for i in range(10):
    f.write('this is line ' + str(i) + '\n')
f.close()

The first method to read a file is to read it in all at once, with a read() method. Here we load the whole file in memory and assign it to a. Note that we will re-open the file here to start from the beginning. Otherwise it will be positioned at the end of the file and give us back an empty string.

In [3]:
f = open('tempfile.txt', 'r')
a = f.read()
a

'this is line 0\nthis is line 1\nthis is line 2\nthis is line 3\nthis is line 4\nthis is line 5\nthis is line 6\nthis is line 7\nthis is line 8\nthis is line 9\n'

Note that when we use read() it creates a string object.  The whole file is loaded into one big string.  Sometimes this may be useful, but often it is not the best way to load a file.

In [5]:
type(a)

str

An alternative approach is to step through reading each line of the file with the readline() method.  Notice that each time you execute this it advances to the next line.  Each line is read into a string object.  In this case we are not doing anything with that object except printing it.

In [11]:
f = open('tempfile.txt', 'r')
print(f.readline())
print(f.readline())
print(f.readline(4))

this is line 0

this is line 1

this

Here is another way to loop through the lines of the file and print them all out. Notice that printing the lines suppresses the quotes and the newline string.

In [7]:
f = open('tempfile.txt', 'r')
print(f.readlines())

['this is line 0\n', 'this is line 1\n', 'this is line 2\n', 'this is line 3\n', 'this is line 4\n', 'this is line 5\n', 'this is line 6\n', 'this is line 7\n', 'this is line 8\n', 'this is line 9\n']

In [8]:
f = open('tempfile.txt', 'r')
for line in f:
    print(line, end='')

this is line 0
this is line 1
this is line 2
this is line 3
this is line 4
this is line 5
this is line 6
this is line 7
this is line 8
this is line 9

The plural version of the readline() method generates a list of the lines in a file, with a string containing each line of the file.  Notice that this list contains the raw text contents, including the newline string '\n'.

In [9]:
f = open('tempfile.txt', 'r')
a = f.readlines()
a

['this is line 0\n',
 'this is line 1\n',
 'this is line 2\n',
 'this is line 3\n',
 'this is line 4\n',
 'this is line 5\n',
 'this is line 6\n',
 'this is line 7\n',
 'this is line 8\n',
 'this is line 9\n']

Using **with** is a handy way to open a file, load its data, and automatically close the file.

In [14]:
with open('tempfile.txt', 'r') as f:
    read_data = f.read()
print(read_data)
f.closed

this is line 0
this is line 1
this is line 2
this is line 3
this is line 4
this is line 5
this is line 6
this is line 7
this is line 8
this is line 9

True

### Working with JSON

JSON (JavaScript Object Notation) is a common format for data accessed from a web browser, which is generally running JavaScript.

The json dumps() method converts Python objects to JSON format, using the counterpart format for each data type, as in the table below.


Python	       JSON
dict	       object
list, tuple	   array
str	           string
int, float     number
True	       true
False	       false
None	       null

In [15]:
import json

json.dumps([1,2,3])

'[1, 2, 3]'

Notice that objects can be complex, containing multiple types of data, and still be easily translated between Python objects and JSON format.  The following example converts a Python list, containing one element that is a dictionary, to JSON.

In [16]:
json.dumps([1,2,3])

'[1, 2, 3]'

In [ ]:
json.dumps([1,2,3,{'foo': 'bar'}])

Below we convert the contents of tempfile to a json object.

In [ ]:
f = open('tempfile.txt', 'r')

x = json.dumps(f.readlines())
x

With the dump() method, we can write JSON data to a file.  Here we read tempfile, and create a new JSON formatted file into which we write the contents of tempfile.

In [ ]:
f = open('tempfile.txt', 'r')
j = open('temp.json', 'w')
json.dump(f.readlines(), j)

Using the load() method, we can read JSON formatted data and load it into a Python object.

In [ ]:
j = open('temp.json', 'r')
x = json.load(j)
x

### Working with CSV Files

CSV (Comma Separated Values) is probably the most common format of data you will encounter.  Files in this format are often exported in this format from a database table or from Excel, or just used as a simple, standard text (ASCII) file format for ease of use.

Let's begin by writing a CSV file like the JSON example above, by importing the csv module, and writing a file with several columns, separated by commas.

In [4]:
my_data = []
for i in range(10):
    my_data.append([i, i*2, i+2])
my_data

[[0, 0, 2],
 [1, 2, 3],
 [2, 4, 4],
 [3, 6, 5],
 [4, 8, 6],
 [5, 10, 7],
 [6, 12, 8],
 [7, 14, 9],
 [8, 16, 10],
 [9, 18, 11]]

Now we will write the CSV file using my_data, and adding a header row first with column names.  Note that we open the file as before, in write mode, but now use the writerow() method to write one row with the header, and writerows() to iterate over the rows and write them to the file.

In [5]:
my_data[1][0]

1

In [6]:
import csv
with open('my_data.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerow(["x", "y", "z"])
    writer.writerows(my_data)

Reading a CSV file is very similar to writing one, but simpler.  We create a reader object that is iterable, and then we can iterate over the rows and do things, like print each row.

In [7]:
with open('my_data.csv', newline='') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['x', 'y', 'z']
['0', '0', '2']
['1', '2', '3']
['2', '4', '4']
['3', '6', '5']
['4', '8', '6']
['5', '10', '7']
['6', '12', '8']
['7', '14', '9']
['8', '16', '10']
['9', '18', '11']

If we want to actually work with the data, then we need to assign it to an object rather than just printing it.  Here we can use the list method to convert the iterable reader object to a list, one per row.

In [ ]:
with open('my_data.csv', newline='') as f:
    reader = csv.reader(f)
    my_data = list(reader)
my_data

If you want to skip the header row in order to have the data without the header, you can use **next** after instantiating the reader object, to advance one row in the CVS file.

In [ ]:
with open('my_data.csv', newline='') as f:
    reader = csv.reader(f)
    next(reader)
    my_data = list(reader)
my_data

Since the data is now available as an object, you can do normal Python processing on it, like selecting the first entry of each row and printing it.

In [ ]:
for row in my_data:
    print(row[0])

### Reading a CSV File and Computing Statistics With it

Use rain.csv to calculate mean and maximum values in a column

In [37]:
with open('data/rain.csv', 'r') as csvfile:
    
    # initialize a counter and variables to contain our descriptive stats
    count = 0 #at the end, divide cumulative_sum by this to get the mean
    cumulative_sum = 0 #our rolling sum
    max_value = -1 #pick a really small number that's guaranteed to be less than the max
    
    # open the file and skip the header row
    my_csv = csv.reader(csvfile)
    next(my_csv)
    
    # loop through each data row
    for row in my_csv:
        
        # rainfall amount is in column 1, only process this row's value if not an empty string
        if not row[1] == '':
            
            # increment the counter and extract this row's rainfall as a float
            count = count + 1
            rainfall = float(row[1])
            
            # add this row's rainfall to the cumulative sum
            cumulative_sum = cumulative_sum + rainfall
            
            # if this row's rainfall is greater than the current max value, update with the new max
            if rainfall > max_value:
                max_value = rainfall

    # after looping through all the rows, divide the cumulative sum by the count and round to get the mean
    mean_value = round(cumulative_sum / count, 1)
    
    # print out the mean and max values
    print('mean:', mean_value, 'inches')
    print('max:', max_value, 'inches')

mean: 3.7 inches
max: 5.9 inches

In [8]:
with open('data/rain.csv', 'r') as csvfile:
    
    # initialize a counter and variables to contain our descriptive stats
    count = 0 #at the end, divide cumulative_sum by this to get the mean
    cumulative_sum = 0 #our rolling sum
    max_value = -1 #pick a really small number that's guaranteed to be less than the max
    min_value=1000
    
    # open the file and skip the header row
    my_csv = csv.reader(csvfile)
    next(my_csv)
    
    # loop through each data row
    for row in my_csv:
        
        # rainfall amount is in column 1, only process this row's value if not an empty string
        if not row[1] == '':
            
            # increment the counter and extract this row's rainfall as a float
            count = count + 1
            rainfall = float(row[1])
            
            # add this row's rainfall to the cumulative sum
            cumulative_sum = cumulative_sum + rainfall
            
            # if this row's rainfall is greater than the current max value, update with the new max
            if rainfall > max_value:
                max_value = rainfall
            elif rainfall< min_value:
                min_value = rainfall
                

    # after looping through all the rows, divide the cumulative sum by the count and round to get the mean
    mean_value = round(cumulative_sum / count, 1)
    
    # print out the mean and max values
    print('mean:', mean_value, 'inches')
    print('max:', max_value, 'inches')
    print('min:', min_value, 'inches')

mean: 3.7 inches
max: 5.9 inches
min: 0.7 inches

How would you find the minimum rainfall amount?

### Cleaning up Messy Data

Let's look at another data file - one that contains a few Craigslist rental listings, that we have already done some cleanup on.

In [10]:
with open('data/rents_raw.csv', 'r') as csvfile:
    my_csv = csv.reader(csvfile)
    for row in my_csv:
        print(row)

['neighborhood', 'price', 'bedrooms', 'date', 'sqft', 'longitude', 'latitude']
['foster city', '2495', '1', '11/14/2014 12:26', '755', '-122.27', '37.5538']
['palo alto', '2695', '', '11/14/2014 12:25', '443', '-122.161524', '37.450289']
['brisbane', '3150', '2', '11/14/2014 12:24', '1242', '-122.417912', '37.692415']
['palo alto', '2800', '2', '11/14/2014 12:24', '', '', '']
['san mateo', '2196', '1', '11/14/2014 12:24', '676', '-122.2998', '37.5395']
['santa clara', '3264', '3', '11/14/2014 12:28', '1138', '', '']
['san jose south', '2000', '2', '11/14/2014 12:28', '822', '-121.902268', '37.253503']
['sunnyvale', '4740', '3', '11/14/2014 12:28', '1406', '-122.034683', '37.368445']
['inner sunset / UCSF', '3395', '2', '11/14/2014 12:32', '', '-122.479345', '37.764582']
['richmond / seacliff', '2699', '1', '11/14/2014 12:32', '', '-122.503781', '37.7718']
['SOMA / south beach', '3620', '1', '11/14/2014 12:30', '860', '-122.395195', '37.775133']
['dublin / pleasanton / livermore', '2025', '1', '11/14/2014 12:18', '636', '-121.787665', '37.67963']
['concord / pleasant hill / martinez', '', '2', '11/14/2014 12:18', '1019', '-122.035275', '37.975259']
['hercules, pinole, san pablo, el sob', '1795', '1', '11/14/2014 12:17', '715', '-122.321672', '37.978086']
['corte madera', '4299', '3', '11/14/2014 12:33', '1533', '-122.488541', '37.919834']

In [15]:
# the column headers are the first row in the data file
# use next to iterate our csv reader to the first row to grab the headers
with open('data/rents_raw.csv', 'r') as csvfile:
    my_csv = csv.reader(csvfile)
    headers = next(my_csv)
    print(headers)

['neighborhood', 'price', 'bedrooms', 'date', 'sqft', 'longitude', 'latitude']

In [16]:
# what is the 1st column (zero-indexed) in our data set?
headers[1]

'price'

In [18]:
# the column headers are the first row in the data file
# use next to iterate our csv reader to the first row to grab the headers
with open('data/rents_raw.csv', 'r') as csvfile:
    my_csv = csv.reader(csvfile)
    next(my_csv)
    for row in my_csv:
        print(row)

['foster city', '2495', '1', '11/14/2014 12:26', '755', '-122.27', '37.5538']
['palo alto', '2695', '', '11/14/2014 12:25', '443', '-122.161524', '37.450289']
['brisbane', '3150', '2', '11/14/2014 12:24', '1242', '-122.417912', '37.692415']
['palo alto', '2800', '2', '11/14/2014 12:24', '', '', '']
['san mateo', '2196', '1', '11/14/2014 12:24', '676', '-122.2998', '37.5395']
['santa clara', '3264', '3', '11/14/2014 12:28', '1138', '', '']
['san jose south', '2000', '2', '11/14/2014 12:28', '822', '-121.902268', '37.253503']
['sunnyvale', '4740', '3', '11/14/2014 12:28', '1406', '-122.034683', '37.368445']
['inner sunset / UCSF', '3395', '2', '11/14/2014 12:32', '', '-122.479345', '37.764582']
['richmond / seacliff', '2699', '1', '11/14/2014 12:32', '', '-122.503781', '37.7718']
['SOMA / south beach', '3620', '1', '11/14/2014 12:30', '860', '-122.395195', '37.775133']
['dublin / pleasanton / livermore', '2025', '1', '11/14/2014 12:18', '636', '-121.787665', '37.67963']
['concord / pleasant hill / martinez', '', '2', '11/14/2014 12:18', '1019', '-122.035275', '37.975259']
['hercules, pinole, san pablo, el sob', '1795', '1', '11/14/2014 12:17', '715', '-122.321672', '37.978086']
['corte madera', '4299', '3', '11/14/2014 12:33', '1533', '-122.488541', '37.919834']

In [21]:
# for each row in the data set, print the price column's value
with open('data/rents_raw.csv', 'r') as csvfile:
    my_csv = csv.reader(csvfile)
    for row in my_csv:
        print(row[1])

price
2495
2695
3150
2800
2196
3264
2000
4740
3395
2699
3620
2025

1795
4299

In [23]:
# create a new list to contain the column of prices in the data set
prices = []
with open('data/rents_raw.csv', 'r') as csvfile:
    my_csv = csv.reader(csvfile)
    for row in my_csv:
        prices.append(row[1])  
prices

['price',
 '2495',
 '2695',
 '3150',
 '2800',
 '2196',
 '3264',
 '2000',
 '4740',
 '3395',
 '2699',
 '3620',
 '2025',
 '',
 '1795',
 '4299']

This list has a couple of problems. First, it includes the header. Second, it's all strings even though prices are numeric data. Third, it contains some empty strings. We'll have to clean it up.

In [24]:
# to remove the first element of the list, we can just capture position 1 through the end of the list
prices_noheader = prices[1:]
prices_noheader

['2495',
 '2695',
 '3150',
 '2800',
 '2196',
 '3264',
 '2000',
 '4740',
 '3395',
 '2699',
 '3620',
 '2025',
 '',
 '1795',
 '4299']

In [28]:
# now let's convert the price strings to integers
for price in prices_noheader:
    print(int(float(price)), ' ')

2495
2695
3150
2800
2196
3264
2000
4740
3395
2699
3620
2025

ValueError: could not convert string to float:

In [29]:
# you can't convert an empty string to a numeric type
for price in prices_noheader:
    if not price == '':
        print(int(float(price)))
    else:
        print('None')

2495
2695
3150
2800
2196
3264
2000
4740
3395
2699
3620
2025
None
1795
4299

In [30]:
# you can't convert an empty string to a numeric type
for price in prices_noheader:
    if not price == '':
        print(int(price))
    else:
        print('None')

2495
2695
3150
2800
2196
3264
2000
4740
3395
2699
3620
2025
None
1795
4299

In [31]:
# encapsulate this functionality inside a new function
def extract_int_price(price):
    if not price == '':
        return int(float(price))
    else:
        return None

In [32]:
# use our function to convert each element in the list of prices to an integer
for price in prices_noheader:
    print(extract_int_price(price))

2495
2695
3150
2800
2196
3264
2000
4740
3395
2699
3620
2025
None
1795
4299

In [33]:
# rather than just printing each converted value, turn it into a new list called int_prices
int_prices = []
for price in prices_noheader:
    int_prices.append(extract_int_price(price))
print(int_prices)

[2495, 2695, 3150, 2800, 2196, 3264, 2000, 4740, 3395, 2699, 3620, 2025, None, 1795, 4299]

### Now let's clean up our neighborhood names

In [36]:
# replace any forward slashes in neighborhood name with a hyphen
with open('data/rents_raw.csv', 'r') as csvfile:
    my_csv = csv.reader(csvfile)
    next(my_csv) #skip the header row
    for row in my_csv:
        print(row[0].replace('/', '-')) #use string.replace() method

foster city
palo alto
brisbane
palo alto
san mateo
santa clara
san jose south
sunnyvale
inner sunset - UCSF
richmond - seacliff
SOMA - south beach
dublin - pleasanton - livermore
concord - pleasant hill - martinez
hercules, pinole, san pablo, el sob
corte madera

In [12]:
with open('data/rents_raw.csv', 'r') as csvfile:
    my_csv = csv.reader(csvfile)
    for row in my_csv:
        print(row)

['neighborhood', 'price', 'bedrooms', 'date', 'sqft', 'longitude', 'latitude']
['foster city', '2495', '1', '11/14/2014 12:26', '755', '-122.27', '37.5538']
['palo alto', '2695', '', '11/14/2014 12:25', '443', '-122.161524', '37.450289']
['brisbane', '3150', '2', '11/14/2014 12:24', '1242', '-122.417912', '37.692415']
['palo alto', '2800', '2', '11/14/2014 12:24', '', '', '']
['san mateo', '2196', '1', '11/14/2014 12:24', '676', '-122.2998', '37.5395']
['santa clara', '3264', '3', '11/14/2014 12:28', '1138', '', '']
['san jose south', '2000', '2', '11/14/2014 12:28', '822', '-121.902268', '37.253503']
['sunnyvale', '4740', '3', '11/14/2014 12:28', '1406', '-122.034683', '37.368445']
['inner sunset / UCSF', '3395', '2', '11/14/2014 12:32', '', '-122.479345', '37.764582']
['richmond / seacliff', '2699', '1', '11/14/2014 12:32', '', '-122.503781', '37.7718']
['SOMA / south beach', '3620', '1', '11/14/2014 12:30', '860', '-122.395195', '37.775133']
['dublin / pleasanton / livermore', '2025', '1', '11/14/2014 12:18', '636', '-121.787665', '37.67963']
['concord / pleasant hill / martinez', '', '2', '11/14/2014 12:18', '1019', '-122.035275', '37.975259']
['hercules, pinole, san pablo, el sob', '1795', '1', '11/14/2014 12:17', '715', '-122.321672', '37.978086']
['corte madera', '4299', '3', '11/14/2014 12:33', '1533', '-122.488541', '37.919834']

### Create a new data set with cleaned up variables

In [37]:
# create a new function to convert bedrooms from a string to an int
def extract_int_bedrooms(bedrooms):
    if not bedrooms == '':
        return int(float(bedrooms))
    else:
        return None

In [38]:
# create a new function to replace forward slashes and commas with hyphens
def clean_neighborhood(neighborhood_name):
    # you can daisy chain multiple string.replace() methods
    return neighborhood_name.replace('/', '-').replace(',', '')

In [40]:
# clean the data set by calling the cleaning functions and save the results to variables
rentals_cleaned = []
with open('data/rents_raw.csv', 'r') as csvfile:
    my_csv = csv.reader(csvfile)
    next(my_csv)
    for row in my_csv:
        neighborhood_cleaned = clean_neighborhood(row[0])
        price_cleaned = extract_int_price(row[1])
        bedrooms_cleaned = extract_int_bedrooms(row[2])
        rentals_cleaned.append([neighborhood_cleaned, price_cleaned, bedrooms_cleaned])      

# display our nested lists of data        
rentals_cleaned

[['foster city', 2495, 1],
 ['palo alto', 2695, None],
 ['brisbane', 3150, 2],
 ['palo alto', 2800, 2],
 ['san mateo', 2196, 1],
 ['santa clara', 3264, 3],
 ['san jose south', 2000, 2],
 ['sunnyvale', 4740, 3],
 ['inner sunset - UCSF', 3395, 2],
 ['richmond - seacliff', 2699, 1],
 ['SOMA - south beach', 3620, 1],
 ['dublin - pleasanton - livermore', 2025, 1],
 ['concord - pleasant hill - martinez', None, 2],
 ['hercules pinole san pablo el sob', 1795, 1],
 ['corte madera', 4299, 3]]

# Exercise: 

1. Calculate the price per square foot, and write the result to a new file.  
2. Calculate the average price per square foot. 
3. Explain how you have dealt with missing data in 1 and 2, and how that might affect your result.

In [1]:
# create a new function to convert non empty price value from a string to an int
def extract_int_price(price):
    if not price == '':
        return int(float(price))
    else:
        return None

In [2]:
# create a new function to convert non empty sqft value from a string to an int
def extract_int_sqft(sqft):
    if not sqft == '':
        return int(float(sqft))
    else:
        return None

In [16]:
import csv

price_cleaned=[]# create a new list to contain the column of prices in the data set
sqft_cleaned=[]# create a new list to contain the column of prices in the data set
with open('data/rents_raw.csv', 'r') as csvfile: #open the csv file to read data
    my_csv = csv.reader(csvfile)
    next(my_csv)# skip the header row
    for row in my_csv:
        # clean the data set by calling the cleaning functions and save the results to list
        price_cleaned.append( extract_int_price(row[1]))
        sqft_cleaned.append(extract_int_sqft(row[4]))
          

print(price_cleaned)
print(sqft_cleaned)

[2495, 2695, 3150, 2800, 2196, 3264, 2000, 4740, 3395, 2699, 3620, 2025, None, 1795, 4299]
[755, 443, 1242, None, 676, 1138, 822, 1406, None, None, 860, 636, 1019, 715, 1533]

In [22]:
price_per_sqft=[]
# loop is iterated through two lists in parallel
for price, sqft in zip(price_cleaned, sqft_cleaned):
    if (price is not None) and (sqft is not None):
         price_per_sqft.append([price/sqft])
print(price_per_sqft)

[[3.3046357615894038], [6.0835214446952595], [2.536231884057971], [3.2485207100591715], [2.8681898066783833], [2.4330900243309004], [3.3712660028449504], [4.209302325581396], [3.1839622641509435], [2.5104895104895104], [2.8043052837573383]]

In [17]:
#1
import csv
# write the result to a new csv file
with open('price_per_sqft.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerow(["price per square foot"]) # add header row
    
    writer.writerows(price_per_sqft)


with open('price_per_sqft.csv', 'r') as csvfile:# read data from csv file
    count = 0 #at the end, divide cumulative_sum by this to get the average price per sqft
    cumulative_sum = 0 #our rolling sum
    my_csv = csv.reader(csvfile)
    next(my_csv)# skip the header row
    for row in my_csv:
            cumulative_sum=cumulative_sum + float(row[0])#add rows to cumulative sum
            count= count + 1 # increase the value of counter by 1
average_price_per_sqft=round(cumulative_sum / count,2) # calculate the average value 


print(cumulative_sum/count)
print(average_price_per_sqft)

In [1]:
#3 
# I have skipped missing data in 1 and 2 and it may affect the result of average value of price per square foot

# Answer 1

In [8]:

price_persqft = []# create a new list to contain the value of price per square foot
price_cleaned=[]# create a new list to contain the column of prices in the data set
sqft_cleaned=[]# create a new list to contain the column of sqft in the data set
neighborhood_cleaned=[]# create a new list to contain the column of neighborhood in the data set
title=[]# create a new list to contain the column of title in the data set
# create a new function to convert non empty sqft value from a string to an int
def extract_int_sqft(sqft):
    if not sqft == '':
        return int(float(sqft))
    else:
        return None
    
# create a new function to convert non empty price value from a string to an int
def extract_int_price(price):
    if not price == '':
        return int(float(price))
    else:
        return None
    
# create a new function to replace forward slashes and commas with hyphens
def clean_neighborhood(neighborhood_name):
    # you can daisy chain multiple string.replace() methods
    return neighborhood_name.replace('/', '-').replace(',', '')

import csv
with open('data/rents_full.csv', 'r') as csvfile:#open the csv file to read data
    my_csv = csv.reader(csvfile)
    next(my_csv)# skip the header row
    for row in my_csv:
        # clean the data set by calling the cleaning functions and save the results to list
        price_cleaned.append( extract_int_price(row[4]))
        sqft_cleaned.append(extract_int_sqft(row[3]))
        neighborhood_cleaned.append(clean_neighborhood(row[2]))
        title.append(row[1])
       
        
      
      
        
 # loop is iterated through four lists in parallel 
#zip() is to map the similar index of multiple containers
for i,j, k, l in zip(title,neighborhood_cleaned, price_cleaned, sqft_cleaned): 
    if (k is not None) and (l is not None):#nonempty value of price and sqft is considered
    
       price_persqft.append([i,j,k/l])

print(price_persqft)

[['Comfort & Convenience At an Affordable Price', 'foster city', 3.3046357615894038], ['$250 Visa Gift Card! Brand new flooring, appliances and so much more!', 'palo alto', 6.0835214446952595], ['Sunny 2 bed/2 bath Spacious Condo, personal washer & dryer', 'brisbane', 2.536231884057971], ['BOTTOM FLOOR ONE BEDROOM! PG&E IS INCLUDED! $199 DEPOSIT!', 'san mateo', 3.2485207100591715], ['Elegant Three Bd. W/ Unique Wood-Burning Fireplace & Lakefront View!!', 'santa clara', 2.8681898066783833], ['Welcome Home! Warmth and convenience all in one.', 'san jose south', 2.4330900243309004], ['Luxury Townhome!Located Next To Everything!Limited Availability Hurry!', 'sunnyvale', 3.3712660028449504], ['Gorgeous one BR with in-unit W/D', 'SOMA - south beach', 4.209302325581396], ['Special Price For this Spacious Two Bedroom Cottage with huge patio', 'dublin - pleasanton - livermore', 3.1839622641509435], ['Sit Back and Relax In This Wonderful Two Bedroom!', 'concord - pleasant hill - martinez', 2.3336604514229635], ['Newly Renovated 1 Bedroom 1 Bath!2nd Floor w/BAY VIEW!', 'hercules pinole san pablo el sob', 2.5104895104895104], ['Located in the Heart of Corte Madera / Georgeous Apartments', 'corte madera', 2.8043052837573383], ['Sunnyvale 3/1.5bath, upgraded, conv. location', 'Fair Oaks & Olive', 2.245833333333333], ['Exec worthy condo, pool, gym & billiards- walk to shops!', 'burlingame', 2.4375], ['Bristol Commons Is Your New Home!!!', 'sunnyvale', 2.671818181818182], ['Lovely Renovated 1 BD 1 BTH In An Astounding Location! ', 'sunnyvale', 2.6907894736842106], [' Available Now!!! High Ceilings, FirePlace Corner Unit', 'sunnyvale', 2.7588105726872247], ['TopFlr w Gorgeous View in Safe Neighborhd Norbert, SBayCoBusStp, MUNI ', 'glen park', 3.1], ['2 Bed on Top floor with a cozy fireplace, pet approved home!', 'fremont - union city - newark', 2.4613095238095237], ['â™¦COME AND SEE WHAT YOU HAVE BEEN MISSINGâ™¦', 'fremont - union city - newark', 2.3418367346938775], ['Chic Remodeled 2BD 1 BTH End Suite Nov. Rent Free Upon Credit Approval', 'sunnyvale', 2.573529411764706], ['Reserve Now! Nice 2 Bedroom, 2 Bathroom Available', 'santa clara', 2.362689393939394], ['2X2 SPECIALSSSS!! Vaulted Ceilings,Fireplace,W/D,AC/HEAT. PETS OK!!', 'cupertino', 2.7824858757062145], ['Your new home awaits you', 'dublin - pleasanton - livermore', 2.3438556933483654], ['2 Bedrooms Available NOW Full Size Wash/Dryer, Home Alarm + more!', 'fairfield - vacaville', 1.446774193548387], ['A Unique One Bedroom Layout! Very Open and Inviting!', 'hayward - castro valley', 2.7353463587921847], ['We have a GREAT Apartment waiting for you!! Come see today!', 'menlo park', 3.179376083188908], ['Tennis Court, 7 Pools, & Driving Range at This Two Bedroom Apartment', 'cupertino', 3.1693121693121693], ['5Br.-3Ba. Great house, location, floor plan and great schools...', 'san jose north', 1.494956772334294], ['STUNNING 5 Bedroom House in Beautiful Saratoga ~ A Must see!', 'saratoga', 1.735330836454432], ['Great Energy Modern Home', 'concord - pleasant hill - martinez', 1.5208574739281575], ['Great Location! Great Two Bedroom Apt.!Washer&Dryer!', 'walnut creek', 2.1055555555555556], ['Available Immediately! ', 'fremont - union city - newark', 2.3553299492385786], ['ST HELENA WOODED HILLSIDE SETTING IN TOWN', 'napa county', 1.5178571428571428], ['3BEDROOM 1BATH TOWNHOME W/ PATIO! PG&E INCLUDED! $199 DEPOSIT!', 'san mateo', 2.595895816890292], ['Professionally Remodeled Home, 3br 2ba * cul-de-sac Professionally Red', 'redwood city', 0.6895687061183551], ['BREATHTAKING WIDE WATER VIEWS - 2 huge master suites!!', 'foster city', 2.245789145352464], ['Furnished Turnkey Unit in Downtown Los Gatos', 'los gatos', 6.0625], ['Charming Los Gatos 2 Bedroom on Loma Alta!', 'los gatos', 2.942105263157895], ['Well Maintained Spacious 2 Br/1Ba Flat with City Light View', 'excelsior - outer mission', 2.6529108327192334], ['3 bedroom home for rent', 'san leandro', 1.9285714285714286], ['Month to Month No Lease', 'san rafael', 1.8125], ['** CHARMING REMODELED 2BD/2BA NEAR HISTORIC DOWNTOWN **', 'larkspur', 3.05], ['Enhance Your Surroundings in Your New 2B/2BA Home at Pescadero! Comin', 'redwood shores', 2.6034172661870505], ['Two Bedroom One Bath - Check This Out! Available December 15', 'millbrae', 3.0833333333333335], ["Lease Your New Home Today! Great location, close to Levi's Stadium ", 'santa clara', 2.2565789473684212], ['GREAT Saratoga 3-Bedroom House with 3 Full Bathrooms', 'saratoga', 1.7135362014690452], ["Move In Now - Be Home for the Holiday's ", 'san jose north', 2.2008695652173915], ['Convenient Access, Fitness Ctr, Personal Trainer, Public Transport', 'financial district', 4.00990916597853], ['Adams Pt. 1 bdrm! Great location!', 'oakland lake merritt - grand', 1.910179640718563], ['Spacious living & corner apt : eat-in kitchen : Laundry & POOL', 'hercules pinole san pablo el sob', 1.840599455040872], ['Great Features - Price - Location - Spacious Large Townhome', 'hercules pinole san pablo el sob', 1.5116279069767442], ['Tree house in San Anselmo ', 'san anselmo', 2.56], ['Some Utilities Included! 1B/1B Townhome Available For Rent! ', 'napa county', 1.8478260869565217], ['Lakeport Solar Home for Rent', 'lake county', 0.7317073170731707], ['Brand New Apartment Homes! ', 'san bruno', 4.842105263157895], ['Extra large 2bd/2ba unit near Downtown ', 'los altos', 1.9666666666666666], ['Located near Apple Shuttle, Renovated, Wd Floors, WD in unit', 'san jose west', 2.566666666666667], ['~*~*~ Fall In Love With Our Community and Downtown Sunnyvale ~*~*~', 'sunnyvale', 2.6836917562724016], ['Beautiful!! FULLY RENOVATED **OPEN HOUSE Sat. Nov. 15th 12pm-3pm**', 'haight ashbury', 3.823529411764706], ['Ideal corner apartment :: Spacious living area and a Relaxing POOL', 'hercules pinole san pablo el sob', 1.836734693877551], ['3BD/2BA Apartment with Quartz Countertops', 'fremont - union city - newark', 1.9893939393939395], ['2ba Luxury Apartment - Finest Location in Napa', 'napa county', 1.90552016985138], ["Don't wait! These spacious apartment homes are going fast!", 'petaluma', 2.063341250989707], ['Napa*Huge*5 Bed*loft*$3495 a month', 'napa county', 0.9985714285714286], ['2 Bedroom Townhome Apartment Available Now. Enclosed Back Patio!', 'san mateo', 2.9107332624867164], ['THIS IS YOUR NEW HOME!! Updated Large 4 bedrooms/2.5 baths', 'foster city', 1.8636363636363635], ['Spacious 1 bedroom! Private patio and walk in closet! ', 'san bruno', 2.9354375896700144], ['Downstairs 1B1B with a full size Washer & Dryer!! Move-in Now!!!', 'cupertino', 3.291012838801712], ['Large Home across from Golf Course! Near 85 and 101 in Santa Teresa!', 'san jose south', 1.469961653174265], ['Two Bedroom With Walk-In-Closet And Washer & Dryer!', 'san jose west', 2.719406674907293], ['Spacious 2x1, Top Floor, Beautiful View of the Creek! Available NOW!!', 'walnut creek', 1.937], ["Don't Wait Call Us Today!! Ask About #501.", 'fremont - union city - newark', 2.8525], ['Charming Ross Home on Shady Lane --PRANDI', 'kentfield - ross', 3.5714285714285716], ["$750 Off On First Month's Rent /Remodeled", 'petaluma', 1.75], ['Newly updated 3 bed 2 bath single family home', 'palo alto', 3.769230769230769], ['Available mid-Nov! 1BR Townhome w/ Private Patio! Near PA & MV', 'los altos', 3.74375], ['$2,145 808 SQ FT WITH FREE PARKING! CALL NOW!', 'san jose downtown', 2.6547029702970297], ['1 MONTH FREE! 2br/1.5ba Townhouse, Washer/Dryer, Los Gatos Schools', 'los gatos', 2.2222222222222223], ['Large Townhouse Ready Now Near Apple Cupertino Schools Pool Spa', 'sunnyvale', 2.631818181818182], ['Westwood Park 3 Bedrm,1.5 Bath ', 'ingleside - SFSU - CCSF', 2.3157894736842106], ['Woodburning Fireplace in This Huge One Bedroom Apartment Home', 'fairfield - vacaville', 1.7675675675675675], ['Affordable Two Bedroom Near Public Transportation, Shopping and Dining', 'walnut creek', 2.176], ['Beautiful 4/3 Home in Brentwood & Close to Hwy-4 Bypass & Excellent Scho', 'brentwood - oakley', 1.0401548137397194], ['Sophisticated City Living', 'tiburon - belvedere', 3.1944444444444446], ['SPECTACULAR WATER VIEWS AVAILABLE', 'tiburon - belvedere', 3.007079646017699], ['Close to University of California San Francisco', 'pacifica', 2.942857142857143], ['Top floor condo, centrally located to downtown, BART, SFO, convenience', 'millbrae', 3.2724719101123596], ['This Gorgeous Studio Is near the Best of Palo Alto & Mountain View', 'mountain view', 4.047169811320755], ['Enjoy up to 6 weeks free! Brand new resort-style community', 'san jose north', 3.425925925925926], ['2x2 Large Apartment ', 'ingleside - SFSU - CCSF', 3.026605504587156], ['Large 2bd/bath Heart of Mission Furnished Short Term Sublet', 'mission district', 2.8], ['Last 2 bedroom Available for IMMEDIATE move in!', 'alameda', 1.8974358974358974], ['SPECTACULAR WATER VIEWS AVAILABLE', 'tiburon - belvedere', 3.007079646017699], ['SPECTACULAR WATER VIEWS AVAILABLE', 'tiburon - belvedere', 3.095575221238938], ['Huge & Bright 1x1 Top Floor! One Month Free Rent', 'san mateo', 3.639344262295082], ['BRAND NEW 2 BED 2 BATH CUPERTINO SCHOOLS NEAR APPLE CUPERTINO ', 'cupertino', 2.895], ['SHORT LEASE Brand New NEAR APPLE POOL Cupertino Schools', 'sunnyvale', 3.5833333333333335], ['End Unit Sausalito Townhouse with Expansive Views --PRANDI', 'sausalito', 2.4205748865355523], ['PENDING! Updated 2 Bedroom Condo In Terra Linda --PRANDI', 'san rafael', 2.13091922005571], ['Close to Everything but Far From Ordinary ... Pescadero Apts.', 'redwood shores', 2.6034172661870505], ['Amazing HUGE 3 bd', 'san mateo', 1.84375], ['Stylish Interiors in Prestigious Neighborhood', 'sunnyvale', 3.07], ['Awesome and Spacious 1BR/1BA at a beautiful community!!!', 'san jose south', 2.7037037037037037], ['Convenient location, spacious floor plan and a beautiful views', 'sunnyvale', 2.7755555555555556], ['Delightful 3 Bedroom Home with Hardwood Flooring & Yard! --PRANDI', 'san anselmo', 1.7727272727272727], ['Stunning Quality First Time Rental, A Must See! --PRANDI', 'mill valley', 2.675675675675676], ['Beautiful One Bed / One Bath Available Now. We Pay Gas & Electricity!', 'san mateo', 3.1508875739644973], ['Citihomes East Town house', 'foster city', 2.6016260162601625], ['We pay for water, garbage and sewer.', 'san jose south', 2.4642857142857144], ['$500.00 Off Select 2 Bedroom, 1 Bath, Ready for Move In Now, Pool, Pet', 'milpitas', 2.5609756097560976], ['159 Panama Street', 'ingleside - SFSU - CCSF', 3.1818181818181817], ['$1800 - 2Bedroom/2.5Bath Gated Townhouse in Convenient Location ', 'hercules pinole san pablo el sob', 1.6216216216216217], ['A Must See! Towpath Village- Napa', 'napa county', 1.8530559167750325], ['Cozy In-Law in Vallemar!', 'pacifica', 4.375], ['One Bedroom One Bath With Private Yard!', 'palo alto', 3.0692307692307694], ['Ah! this spacious 1x1 is ready for move-in now. Inquire today!', 'san jose north', 2.621359223300971], ['423 34th Avenue, #3', 'richmond - seacliff', 3.6], ['See Whats Exciting and New At Sofi Dublin! 2x2 With Washer And Dryer', 'dublin - pleasanton - livermore', 2.4239130434782608], ['****2BR/2B Condo for rent****', 'oakland hills - mills', 2.132680320569902], ['Beautiful One Bedroom Apt.! Washer&Dryer! Call Today!', 'walnut creek', 3.2916666666666665], ['Live a Life of Luxury with Two Master Bedrooms!', 'rohnert pk - cotati', 1.7978260869565217], ['Sunny Hamilton home', 'novato', 1.7196531791907514], ['$2000 OFF!!! Relax In Our Waterfront Community!', 'foster city', 2.7847619047619045], ['A Magnificent Studio Located on the Top Floor with Washer and Dryer', 'belmont', 4.14], ['Condo style living @ Willow Lake!', 'san jose north', 2.7172131147540983], ['Large Upstairs One Bedroom Available 12/23!!', 'campbell', 2.730769230769231], ['27th floor ONE BEDROOM Downtown/Bay Views, Washer/Dryer in Unit', 'downtown - civic - van ness', 5.18202502844141], ['Exceptional 2BR/2BA Apartment!', 'vallejo - benicia', 2.1928020565552697], ['Beautiful remodeled home in Old Palo Alto, immediate move in', 'palo alto', 3.3125], ['Large 2 Bed/1 Bath Apartment Available Now. New Doggie Park Now Open!', 'san mateo', 2.808628318584071], ['Like What You See?? Then Pick Up The Phone & Give Us A Call!!', 'belmont', 2.5810526315789475], ['Looking to move this weekend? CALL NOW!!', 'san jose downtown', 2.5], ['$800 move-in bonus, Close to Apple, ebay etc. W/D, spa, sauna, gym', 'santa clara', 2.306603773584906], ['Beautiful home, french doors in the master suite', 'Lodi', 0.8858413639733136], ['Newly updated home', 'Oakdale', 0.9843982169390788], ['Charming westside cottage', 'petaluma', 2.230769230769231], ['****BEAUTIFUL MEDITERRANEAN. ****', 'san anselmo', 2.5870588235294116], ['Pacifica duplex, Ocean Views 2 BD/2 BTH BIG garage! Great location!', 'pacifica', 2.9], ['1 Bedroom or Studio - Downtown', 'los gatos', 2.88], ['Cahill Park 793 sq ft 1BD - walk in closet, central A/C heat, & W/D', 'san jose downtown', 2.862547288776797], ['Large Single Story Home, garage, bkyd, hdwd, W/D ', 'oakland north - temescal', 2.1032028469750887], ['Newer Designer Large Home-lowered price :)', 'santa rosa', 1.2857142857142858], ['After a Hectic Day, Come Home to Tranquility at Pescadero.', 'redwood shores', 3.358008075370121], ['Large 1 Bedroom/1 Bath Aparment Available! Dogs Love Us!', 'san mateo', 2.662404092071611], ['Abundant Savings! 2 Bedroom Townhome starting at $2685!!!!', 'san jose downtown', 2.554709800190295], ['Chic Urban One Bedroom!', 'san jose downtown', 2.4375], ['Nob Hill Furnished STUDIO', 'nob hill', 6.857142857142857], ['3 bedroom/ 2 bath', 'twin peaks - diamond hts', 3.960474308300395], ['Now leasing for immeidate and December Move Ins', 'alameda', 2.5694444444444446], ['2 Bd-2.5 Bath "Redwood Glen" Townhouse, Castro Valley', 'hayward - castro valley', 2.0496535796766744], ['Townhouse with a View', 'rohnert pk - cotati', 1.3869565217391304], ['3/2 Professionally Landscaped See Photos', 'half moon bay', 0.7670454545454546], ['Pet Friendly Property! Large 3x2 w/ Ample Storage!', 'belmont', 2.4782608695652173], ['Spacious One Bedroom Available Now !', 'san jose south', 2.4642857142857144], ['101 San Fernando***Great View***Balcony***San Fernando Views', 'san jose downtown', 3.5496750232126275], ['Available in our Newest of Six Villages!', 'san jose south', 2.5536193029490617], ['The Keys to Your New Home Are Waiting. Apply Online Today!', 'ingleside - SFSU - CCSF', 3.5454545454545454], ['Relocate to Alameda Island!', 'oakland downtown', 2.0], ['2BR close to everything.. (LEASE TAKE OVER APT. 124)', 'berkeley', 4.364569961489089], ['Calistoga one bedroom,garage Rare oportunity', 'napa county', 1.625], ['Huge & Spacious Corner Town Home Available Now - Newly Renovated', 'tiburon - belvedere', 3.6470588235294117], ['Gorgeous 2 Bedroom with Den!! Take a tour today!!', 'menlo park', 2.9470149253731344], ['Near cafes, shops, Cal Train, Garage parking, gym, resort pool', 'san mateo', 3.2130434782608694], ['101 San Fernando*** 2x2 Townhome**Facing 3rd Street', 'san jose downtown', 2.4978753541076486], ['Move In Special! Up to $1000 Off! Beautiful, Gorgeous One Bedroom Apt', 'cupertino', 4.6098901098901095], ['Carmelita Paradise. Start living the good life!', 'alamo square - nopa', 3.473684210526316], ['A brand new flat in San Francisco. ', 'laurel hts - presidio', 4.923076923076923], ['Beautiful Tracy Home!', 'dublin - pleasanton - livermore', 0.8876945885841364], ['Beautiful Hercules Home!', 'hercules pinole san pablo el sob', 1.3660714285714286], ['Large home, lots of living space!', 'vallejo - benicia', 0.9176470588235294], ['Close to 101, Lease Today, Washer Dryer', 'san rafael', 3.4323076923076923], ['Move-in Now! Perfect Apt for You! Bright, Spacious & Pool View!', 'belmont', 2.586315789473684], ['New 3 Bed with Attached Garage on the Marina!', 'redwood city', 3.3192090395480225], [' Upstairs apt w/UPGRADED kitchen, NEW carpet & paint! Onsite laundry!', 'san jose downtown', 3.0555555555555554], ['Spacious View Townhouse in Very Quiet Location - OPEN SAT 1-3', 'castro - upper market', 3.0789473684210527], ['2Br/2Bath Single Story w/attached garage WC $2400', 'walnut creek', 2.0], ['*.*Large Beautiful Townhouse w/Fireplace Rohnert Park*.*', 'rohnert pk - cotati', 1.3291666666666666], ['Serene Living in Menlo Park....Beautiful & Spacious 2 BR ready now! ', 'menlo park', 3.1750433275563257], ['888 San Mateo-Walk to Burlingame Ave! New with A/C & Washer/Dryer!', 'san mateo', 3.3947119924457034], ['Corner 3x2 w/ New Carpet, 2-Car Carport & Large Storage Area! ', 'belmont', 2.4782608695652173], ['Small 1BDR nr Alameda/Hedding, Upgraded Kitchen! Nice Rose Garden Area', 'san jose downtown', 3.0555555555555554], ['101 San Fernando *****Great Price for a 1x1 | M/I 10/10/2014', 'san jose downtown', 3.671597633136095], ['Single Family Home for Rent ', 'santa clara', 2.142857142857143], ['Lock in the rent control!', 'ingleside - SFSU - CCSF', 3.2961783439490446], ['Walking distance to Sonoma State University', 'rohnert pk - cotati', 1.3333333333333333], ['Beautiful Luxury Townhouse', 'san carlos', 2.176470588235294], ['NOW AVAILABLE!!! Newly Renovated, Cozy 2 Bdrm, 1 Ba, First Floor', 'san jose west', 3.0344827586206895], ['Rosegarden neighborhood :: UPGRADED apt :: *On-site laundry*', 'san jose downtown', 3.057777777777778], ['Spacious View Townhouse in Very Quiet Location - OPEN SAT 1-3', 'castro - upper market', 3.0789473684210527], ['Commuters Dream... Mins From I 580 & ACE Train..30 Mins From BART!!!!', 'Tracy Livermore', 1.7716165413533835], ['Walking distance to Sonoma State University', 'rohnert pk - cotati', 1.391304347826087], ['2bd/1ba, SPECIAL PRICING-TODAY!!!', 'rohnert pk - cotati', 1.8186695278969958], ['For All Lifestyles Newly Remodeled Apts', 'santa rosa', 1.6151685393258426], ['Be A Part Of Town Home Living Today! Spacious Floor Plan, Must see!', 'foster city', 2.062962962962963], ['Large kitchen with washer dryer. ', 'mountain view', 3.5304964539007093], ['Just 1 mile south of the El Camino Real and Woodside Road intersection', 'redwood city', 4.021943573667712], ['Walking distance to Shopping, Parks, Schools, Starbucks, Golf, etc....', 'sunnyvale', 3.089430894308943], ['Convenient Single Story Ready Now! Cats ok! No Pet Rent:)', 'sunnyvale', 3.089430894308943], ['Large Jr 1x1 in Soma at Mosso Apartments Ready for move in NOW!', 'SOMA - south beach', 5.516934046345811], ['Beautiful Tracy Home!', 'dublin - pleasanton - livermore', 0.8876945885841364], ['NE SANTA ROSA - 2014 QUEBEC TERRACE', 'santa rosa', 1.2903225806451613], ['3 Bed/2.5 Bath Townhouse for Rent - 2,500', 'novato', 1.840942562592047], ['2bd/2ba-W/D,Fireplace, Dual Master Suite SPECIAL PRICING TODAY!', 'rohnert pk - cotati', 1.6088709677419355], ['Updated 4BR/2B Home for rent in Mid Town Palo Alto - $6000/month', 'palo alto', 2.857142857142857], ['Impressive Corner Unit Condo with Luxury Amenities', 'san bruno', 3.176470588235294], ['Stainless Steel Appliances Are Available in This 2x2 Residence!', 'san jose north', 2.3814655172413794], ['Great LOCATION near Kaiser Hospital::quality, affordable living', 'santa clara', 2.3946666666666667], ['Great LOCATION near Kaiser Hospital::quality, affordable living', 'santa clara', 2.3946666666666667], ['Comfortable Quiet Studio for Rent', 'excelsior - outer mission', 6.0], ['â˜…â˜…â˜…Top Floor Unit in an Exciting & Accessible Neighborhood', 'Guerrero-Market', 5.161290322580645], ['Studio', 'walnut creek', 1.8333333333333333], ['Contemporary Loft Living Over Looking Albert Field, and Mt. Tam!', 'san rafael', 2.9444444444444446], ['5485 Bodega Ave', 'petaluma', 1.3], ['See This Unit Today!! Large Corner End Unit, Only Pay Electric Bill', 'foster city', 2.745121951219512], ['Relax in your large one bedroom home!', 'foster city', 3.1883561643835616], ['SPACIOUS, UPGRADED STUDIO with LOTS of STORAGE SPACE', 'santa clara', 2.7083333333333335], ['LOCATION, LOCATION, LOCATION! Desirable & Spacious', 'sa

In [4]:
import csv
# write the result to a new csv file
with open('price_persqft.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerow(["title","neighborhood","price per square foot"])#add header row
    
    writer.writerows(price_persqft)

# Answer 2

In [6]:
with open('price_persqft.csv', 'r') as csvfile:# read data from csv file
    count = 0 #at the end, divide cumulative_sum by this to get the mean
    cumulative_sum = 0 #our rolling sum
    my_csv = csv.reader(csvfile)
    next(my_csv)#skip header row
    for row in my_csv:
            
            cumulative_sum=cumulative_sum + float(row[2])#add rows to cumulative sum
            count= count+1 # increase the value of count by 1
#print results
average_price=round(cumulative_sum/count,2)
print(cumulative_sum)
print(count)
print(cumulative_sum/count)
print(average_price)

885.6080313445141
339
2.612413071812726
2.61

# Answer 3

In [7]:
# I have skipped missing data in 1 and 2 and it may affect the result of average value of price per square foot